body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
.p-megamenu .p-menuitem-icon {
  color: white;
}

.p-megamenu-root-list {
  display: flex;
  padding: 1.5rem 0;
  gap: 1rem;
  width: 65px;
}
